<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"><img src="IMG/Logo.png" alt="Logo" class="nav-logo"></a></li>
            <li><a href="/dashboard" class="nav-button">Hjem</a></li> 
            <% if (user) { %>
              <li><a href="/logout" class="nav-button">Log Out</a></li>
            <% } else { %>
              <li><a href="/login" class="nav-button">Log In</a></li>
            <% } %> 
        </ul>
    </nav>

    <div class="container">
    <h1>Welcome to the Home Page</h1>
    <p>This is the home page of your application.</p>
    <p>Feel free to navigate to other pages using the links provided.</p>
    </div>
</body>
</html>

